aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
attrs==25.3.0
auraloss==0.4.0
contourpy==1.3.1
cycler==0.12.1
dasp-pytorch==0.0.1
filelock==3.18.0
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2025.3.2
idna==3.10
Jinja2==3.1.6
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.8
lightning-utilities==0.14.3
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
multidict==6.4.3
networkx==3.4.2
numpy==2.2.4
packaging==24.2
pandas==2.2.3
pillow==11.1.0
propcache==0.3.1
pyftdi==0.56.0
pyparsing==3.2.3
pyserial==3.5
python-dateutil==2.9.0.post0
pytorch-lightning==2.5.1
pytz==2025.2
pyusb==1.3.1
PyYAML==6.0.2
scipy==1.15.2
setuptools==78.1.0
six==1.17.0
smbus2==0.5.0
sympy==1.13.1
torch==2.6.0
torchaudio==2.6.0
torchmetrics==1.7.1
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
websockets==12.0
yarl==1.19.0
